#Felirat{
    text-align: center;
}

.Dobokocka{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 150px;
}
.Button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.Eredmeny{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}