#cim{
    text-align: center;
    font-size: 30px;
}

.Valasztas{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 150px;
}

.szegely{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
}